.App {
  font-family: sans-serif;
  text-align: center;
}
.roof {
  position: absolute;
  width: 300px;
  top: 0;
  background-color: black;
  height: 100px;
}

.door {
  position: absolute;
  background-color: blue;
  width: 70px;
  height: 100px;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
}
.house {
  position: relative;
  background-color: gray;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  margin-left: 50px;
}
